XMLtoObject/src/XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- XML Schema Generated from XML Document on Tue Mar 19 2019 19:03:50 GMT+0200 (Израиль, стандартное время) -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
                <xs:element name="datatable">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="dataPoint" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="x" type="xs:double"></xs:element>
                                        <xs:element name="y" type="xs:double"></xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="date" type="xs:string"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
</xs:schema>